* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url(../img/wall.png);
}

h1 {
  font-family:'Edu Tas Beginner', sans-serif;
}


main {
  margin-top: -1rem;
  background-image: url("../img/cork.png");
}

.container {
  width: 80%;
}

/*Polaroid*/

.polaroid {
  padding-top: 1rem;
  position: relative;
  background: white;
  margin-top: 3rem;
}

.pin {
  position: absolute;
  left: 45%;
  margin-top: -1.5rem;
}

.polaroid-img img {
 width: 100%;
  height: auto;
  display: block;
}