* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url(../img/wall.png);
}

h1 {
  font-family:'Edu Tas Beginner', sans-serif;
}


main {
  margin-top: -1rem;
  background-image: url("../img/cork.png");
   min-height: 100vh;  
}

.container {
  width: 80%;
}

/*Polaroid*/

.polaroid {
  padding-top: 1rem;
  position: relative;
  background: white;
  margin-top: 3rem;
  display: flex;
flex-direction: column;
 box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.pin {
  position: absolute;
  left: 45%;
  margin-top: -1.5rem;
}

.polaroid-body {
  width: 90%;
  align-self: center;
}

.polaroid-img img {
 width: 100%;
  height: auto;
  display: block;
}

.polaroid-date {
  font-family:  'Sometype Mono', 'monospace';
}

.polaroid-caption {
  font-family:'Edu Tas Beginner', sans-serif;
}

/*Overlay Immagini*/
#overlay {
  position: absolute;
  display: none;
  cursor: pointer;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

/*Immagine Roteantre*/

.foto-roteante:hover {
  transform: rotate(30deg);
  transition: transform 0.3s ease-in; 
}